body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
}

.box:hover {
  transform: translate(10px, 20px) rotate(35deg);
}
